<h1>Seja bem vindo</h1>
<h2>Você está em ambiente de: <strong style="color: forestgreen"> <%= ambiente_rails %> </strong> </h2>
<p> <strong>Data:</strong> <%= data_br(Date.today)%> </p>
<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>


